a,
a:active,
a:focus,
a:hover,
a:visited {
  outline: 0;
}
.help-icon-holder {
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 1031;
  height: 60px;
  line-height: 60px;
  display: grid;
  align-items: center;
}
.points-icon-holder {
  position: fixed;
  top: 0;
  right: 45px;
  z-index: 1031;
  height: 60px;
  line-height: 60px;
  display: grid;
  align-items: center;
}
#changeAvatar {
  max-width: 80px;
}
.color-green,
.green-color {
  color: #8bc34a;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.opacity-point-8 {
  opacity: 0.8;
}
.img-grayscale {
  filter: grayscale(100%);
}
@media screen and (min-width: 900px) {
  #star {
    transform: translate(-1072px, -16%) !important;
  }
}
.border-dropdown {
  background: 0 0;
  border-color: #fff;
  padding: 5px;
  border-radius: 4px;
  outline: 0 !important;
}
label.wrap {
  position: relative;
  display: block;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
label.wrap:after {
  content: "\f13a";
  font-family: FontAwesome;
  color: #8bc34a;
  z-index: 1;
  width: 10%;
  height: 100%;
  pointer-events: none;
  font-size: 0.9rem;
}
select.dropdown {
  border: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
select {
  text-align: center;
  text-align-last: center;
}
select.dropdown option {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.border-dropdown option,
.border-dropdown option:focus,
.border-dropdown option:hover {
  background-color: #545b62;
  border-color: #fff;
  box-shadow: none !important;
  outline: 0 !important;
}
option {
  text-align: left;
}
#studentEditUdise {
  width: 100%;
}
#studentEditUdise_updateUdise {
  padding: 0.35rem;
}
.form-control {
  background: #fafafa;
}
.bg-orange {
  background: #f9a825;
}
.dashboard-card {
  border-radius: 10px;
  padding: 0 15px;
  background: url("https://assets.englishhelper.com/righttoread/v8.79.38.20230215/assets/images/rtm-card-bg.svg")
    0 0 no-repeat #ffb030;
  background-size: 56%;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.dashboard-card-row {
  position: relative;
}
.inner-tile {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dashboard-tile-text {
  font-size: 1.1rem;
  margin-left: 6px;
  font-weight: 500;
}
.pulse {
  animation: pulse-animation 5s infinite;
}
@keyframes pulse-animation {
  0% {
      box-shadow: 0 0 0 0 rgba(255,255,255,.6)
  }

  20% {
      box-shadow: 0 0 0 40px rgba(255,255,255,0)
  }

  100% {
      box-shadow: 0 0 0 80px rgba(255,255,255,0)
  }
}
.card-arrow-holder {
  border: solid 12px rgba(255,255,255,.4);
}
.card-arrow {
  width: 4.2em;
  height: 4.2em;
  border: solid 12px rgba(255,255,255,.2);
}
.contest-card {
  border-radius: 10px;
  padding: 0 15px;
  background: url("https://assets.englishhelper.com/righttoread/v8.79.38.20230215/assets/images/contest-bg.svg") 0 0 no-repeat #8f15c2;
  background-size: cover;
  max-height: 75px;
  display: table;
  overflow: hidden;
  align-items: center;
  width: 100%;
}
.dashboard-tile-text {
  font-size: 1.1rem;
  margin-left: 6px;
  font-weight: 500;
}
.revise-your-chapter h6 {
  display: flex;
  flex-direction: row;
  color: #8bc34a;
}
.revise-your-chapter h6:after, .revise-your-chapter h6:before {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #8bc34a;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.owl-stage {
  left: -25px;
}
.owl-stage {
  display: flex;
}
.owl-item {
  display: grid;
}
.reviseYourChapter .owl-card {
  background: #03a9f4;
}
.topic-img-container {
  position: relative;
}
.owl-card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 6px #ccc;
}