#body1 {
  padding-bottom: 50vh;
  filter: brightness(50%);
}
html:has(#body1) {
    overflow: hidden;
}
#studentForgotPassword_userPhone {
  padding-left: 6px;
}
.text-blue {
  color: #00b0ff;
}
.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bg-green {
  background: #8bc34a;
}
.sticky-close {
  position: absolute;
  top: -8px;
  right: -8px;
  opacity: 1;
  background: #424242 !important;
  color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 35px;
}
.sticky-close span {
  position: relative;
  top: -3px;
}
#forgotPasswordModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

#extra{
  margin-top: 57px;
}
